<h1>Attendees</h1>

<h2>Going</h2>
<ul>
  <% attending.forEach(a => { %>
    <li><%= a.displayName %> - <%= a.createdAt %></li>
  <% }) %>
</ul>

<h2>Waitlisted</h2>
<ul>
  <% waitlisted.forEach(a => { %>
    <li><%= a.displayName %> - <%= a.createdAt %></li>
  <% }) %>
</ul>

<h2>Cancelled</h2>
<ul>
  <% cancelled.forEach(a => { %>
    <li><%= a.displayName %> - <%= a.createdAt %></li>
  <% }) %>
</ul>