<h1 class="text-2xl font-bold">
  Attendees
</h1>

<h2><b>Going:</b></h2>
<ul>
  <% attendees.attending.forEach(a => { %>
    <li><%= a.displayName %> - <%= a.createdAt %></li>
  <% }) %>
</ul>

<h2><b>Waitlisted:</b></h2>
<ul>
  <% attendees.waitlisted.forEach(a => { %>
    <li><%= a.displayName %> - <%= a.createdAt %></li>
  <% }) %>
</ul>

<h2><b>Cancelled:</b></h2>
<ul>
  <% attendees.cancelled.forEach(a => { %>
    <li><%= a.displayName %> - <%= a.createdAt %></li>
  <% }) %>
</ul>